{% extends 'restaurant/base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='{% static 'restaurant/css/home.css' %}'/>
{% endblock %}

{% block content %}
<div class='hero-image-wrapper'>
    <img src='{% static 'restaurant/images/pasta.jpg'%}'/>
</div>
<div class='paragraph-wrapper'>
    <h1>Welcome to our restaurant!</h1>
    <p>Bacon ipsum dolor amet jowl sirloin spare ribs shank landjaeger burgdoggen short loin pastrami beef ribs. Pig shankle spare ribs bacon. Drumstick leberkas chuck tenderloin cupim. Meatball cupim spare ribs boudin bacon chuck shank alcatra picanha jowl cow prosciutto. Porchetta meatball landjaeger tenderloin boudin shoulder. Venison biltong boudin ham hock pork chop beef, sirloin short loin. Turkey beef shoulder kevin, cupim boudin pork chop buffalo.</p>

    <p>Pork chop pork turkey, kevin meatball t-bone tongue doner turducken chuck filet mignon short ribs beef ribs. Doner kevin tenderloin boudin t-bone, rump tri-tip burgdoggen picanha meatloaf bresaola landjaeger. Short loin filet mignon buffalo salami ham capicola. Doner pig drumstick turducken shank biltong bresaola shoulder pork chop pork ribeye prosciutto.</p>

    <p>Sirloin ball tip ground round, bresaola strip steak jerky kevin pork alcatra porchetta meatloaf frankfurter buffalo ribeye filet mignon. Cupim filet mignon biltong meatball ground round pork andouille kielbasa shoulder kevin salami. Buffalo ribeye frankfurter, doner pig sirloin burgdoggen pork spare ribs boudin chicken kevin. Ground round venison prosciutto, bacon t-bone beef sausage ribeye hamburger frankfurter shoulder jerky. Pancetta bacon drumstick, frankfurter pork loin ball tip turkey turducken. Ham pastrami short loin, brisket pig porchetta shankle chuck. Short ribs t-bone pork belly andouille beef swine.</p>

    <p>Swine shoulder beef chicken t-bone sirloin boudin pig brisket short ribs. Meatball cow pork belly, brisket picanha beef hamburger leberkas spare ribs t-bone rump pork loin biltong. Shoulder kielbasa buffalo, sausage prosciutto cow jerky pig doner beef swine strip steak pork. Spare ribs ribeye beef ribs, burgdoggen jowl chicken bacon buffalo t-bone doner. Fatback chicken turducken bresaola picanha turkey strip steak prosciutto rump swine meatball bacon.</p>

    <p>Shankle buffalo filet mignon tongue strip steak frankfurter beef ribs meatloaf pork belly biltong spare ribs fatback. Tenderloin andouille capicola, pork belly buffalo pork short loin ham hock swine biltong sirloin drumstick flank meatball. Chicken andouille tongue short ribs, sausage porchetta leberkas boudin. Turducken cupim doner ball tip salami, andouille porchetta tail hamburger shoulder ribeye beef ribs turkey pastrami. Kevin meatloaf sausage fatback, t-bone tail filet mignon ribeye chicken landjaeger turkey jerky turducken drumstick alcatra. Doner shoulder buffalo t-bone picanha, cow ground round leberkas filet mignon hamburger beef pork porchetta short loin turducken. Strip steak venison hamburger capicola rump buffalo.</p>
</div>
{% endblock %}
