{% extends 'restaurant/base.html' %}

{% block content %}

<h1>This is the menu</h1>
<h2>Appetizers</h2>
{% for item in appetizer %}
    {% include "restaurant/components/menu_item.html" %}
{% endfor %}

<h2>Soups and Salads</h2>
{% for item in soup_or_salad %}
    {% include "restaurant/components/menu_item.html" %}
{% endfor %}

<h2>Main Dishes</h2>
{% for item in main %}
    {% include "restaurant/components/menu_item.html" %}
{% endfor %}

<h2>Desserts</h2>
{% for item in dessert %}
    {% include "restaurant/components/menu_item.html" %}
{% endfor %}


{% endblock %}
