{% extends 'restaurant/base.html' %}

{% block content %}

<div class='hero-image-wrapper'>
    <div class='text-wrapper menu'>
        {% if appetizer %}
        <div class='menu-section-wrapper'>
            <h2>Appetizers</h2>
            {% for item in appetizer %}
                {% include "restaurant/components/menu_item.html" %}
            {% endfor %}
        </div>
        {% endif %}

        {% if soup_or_salad %}
        <div class='menu-section-wrapper'>
            <h2>Soups and Salads</h2>
            {% for item in soup_or_salad %}
                {% include "restaurant/components/menu_item.html" %}
            {% endfor %}
        </div>
        {% endif %}

        {% if main %}
        <div class='menu-section-wrapper'>
            <h2>Main Dishes</h2>
            {% for item in main %}
                {% include "restaurant/components/menu_item.html" %}
            {% endfor %}
        </div>
        {% endif %}


        {% if dessert %} 
        <div class='menu-section-wrapper'>
            <h2>Desserts</h2>
            {% for item in dessert %}
                {% include "restaurant/components/menu_item.html" %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}
